.About_container {
  max-width: "400";
  padding: "1rem";
  height: calc(100vh - 50px);
  
}
.p_container {
  letter-spacing: 0.8 rem;
  color: rgb(107, 103, 103);
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2rem;
  padding: 1.4rem;
  margin: 0.1rem 3rem;
  line-height: 35px;
}
.cbtn {
  text-align: center;
  padding: 2rem;
}
@media screen and (max-width: 900px) {
  .About_container {
    width: 100vw;
    height: calc(100vh - 50px);
    padding: ".1rem";
  }
  .p_container {
    letter-spacing: 0.1 rem;
    margin-right: 0.1rem;
    line-height: 24px;
    margin-left: 1px;
    text-overflow: hidden;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  .cbtn {
    display: none;
  }
}
